@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

h1,h3,h4,h5,h6,p {
  margin-top: 0;
}

.content {
  margin: 3% 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
  align-items: start;
}

.post-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.post-item {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 15px;
  box-shadow: 4px 5px 15px lightblue;
}

.icon {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}